@model InstaShop.DataLayer.Models.AdminLogin

@{
    ViewBag.Title = "حذف ادمین";
}

<h2>حذف ادمین</h2>

<h3>آیا از حذف '@Model.UserName' مطمئن هستید ؟ </h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" />
            <a class="btn btn-default btn-sm" href="/Admin/AdminLogins/">
                <i class="glyphicon glyphicon-backward"></i>
            </a>
        </div>
    }
</div>
