@model IEnumerable<InstaShop.DataLayer.Models.AdminLogin>

@{
    ViewBag.Title = "Index";
}

<h2>مدیریت ادمین ها</h2>

<p>
    @Html.ActionLink("افزودن ادمین جدید", "Create", "AdminLogins", new { area = "Admin" }, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr class="bg-primary text-white">
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            <a class="btn btn-warning btn-sm" href="/Admin/AdminLogins/Edit/@item.LoginID">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-danger btn-sm" href="@Url.Action("Delete",new {id=item.LoginID})">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
            @*<a class="btn btn-info btn-sm" href="/Admin/AdminLogins/Details/@item.LoginID">
                <i class="glyphicon glyphicon-open"></i>
            </a>*@
        </td>
    </tr>
}

</table>
